.contact-us {
    height: 573px;
    background: $primary-color;
    color: $white-color;
  
    .contact-us-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h2 {
        margin-top: 70px;
        margin-bottom: 50px;
        font-size: 36px;
        font-weight: 600;
      }
  
      p {
        font-size: 14px;
        margin-bottom: 27px;
      }
  
      form {
        width: 390px;
        height: 314px;
        background: $white-color;
        box-shadow: 0px 5px 6px #00000029;
        border-radius: 5px;
        
        .contacts-form-content {
          margin: 33px 65px 0 65px;
    
          input:not(.radio-input) {
            width: 100%;
            height: 20px;
            border: none;
            padding: 2px 5px;
            margin-bottom: 20px;
            font-size: 12px;
            color: $dark-gray;
            border-bottom: 1px solid $dark-gray;
            transition: .2s;
          }
          input:focus:not(.radio-input) {
            outline: none;
            border: 1px solid $primary-green;
            border-radius: 2px;
            color: $primary-green;
          }
    
          .radio-wrapper {
            display: flex;
            gap: 16px;
    
            .radio-item {
              display: flex;
              align-items: center;
              gap: 9px;
    
              input[type="radio"] {
                height: 13px;
                width: 13px;
                appearance: none;
                border: 1px solid $primary-green;
                border-radius: 50%;
                background-clip: content-box;
                padding: 3px;
                opacity: .5;
                transition: .2s;
              }
    
              label {
                font-size: 9px;
                font-weight: 600;
                text-transform: uppercase;
                color: #000;
                opacity: .5;
                transition: .2s;
              }
    
              input[type="radio"]:checked {
                background-color: $primary-green;
                padding: 3px;
                opacity: 1;
              }
    
              input[type="radio"]:checked+label {
                opacity: 1;
              }
            }
          }
        }
    
        .contact-us-submit-wrap {
          width: 100%;
          display: flex;
          justify-content: center;
  
          .contact-form-submit {
            height: 48px;
            width: 158px;
            background: $primary-green;
            border-radius: 5px;
            margin: 40px 0 0 0;
            transition: .3s ease-in-out;
      
            input {
              width: 100%;
              height: 100%;
              font-size: 15px;
              font-weight: 600;
              text-transform: uppercase;
              color: $white-color;
              background: transparent;
              border: none;
            }
      
            input:hover {
              cursor: pointer;
            }
      
          }
  
          .contact-form-submit:hover {
            background: $primary-green-darker;
          }
        }
      }
    }
  }

  //   Media Queries
@media (max-width: 1150px ) {

    .contact-us-wrap {
        @include desktopPadding;
    }
}

@media (max-width: 978px ) {

    .contact-us {
        height: 523px;
      
        .contact-us-wrap {
          h2 {
            margin-top: 40px;
            margin-bottom: 20px;
            font-size: 30px;
          }
        }
      }
}

@media (max-width: 768px) {

    .contact-us {
        height: 523px;
      
        .contact-us-wrap {
          padding: 0 20px;
          
          h2 {
            margin-top: 30px;
            margin-bottom: 10px;
            font-size: 20px;
          }
    
          p {
            word-wrap: break-word;
            word-break: break-all;
          }
          
          form {
            width: 100%;
            max-width: 314px;
            
            .contacts-form-content {
              margin: 20px 30px 0 30px;
            }
          }
        }
      }
}

