@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
/* STYLE RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  width: 100%;
  min-width: 300px;
  overflow: auto;
  background-color: $white-color;
  scroll-behavior: smooth;
  scroll-padding-top: 72px;
}
body {
  line-height: 1.6;
  
}