$primary-color: #E27866;
$primary-color-light: #E58675;
$primary-color-op80: rgba(226, 120, 102, 0.8);
$primary-color-op90: #E2786690; //90 opacity
$white-color: #ffffff;
$white-color-shade: #F5F5F5;
$paragraph-gray: #86878B;
$mid-gray: #333333;
$dark-gray: #1C1C1C;
$light-blue: #6696E2;
$primary-green: #41D395;
$primary-green-darker: #34a977;
$very-light-gray: #D8D8D8;